/*--------------------------HEADER--------------------------*/
.header {
	margin: 80px 0;
	z-index: 2 !important;
}

.header .header-container h1 {
	font-family: 'stretchPro';
	font-size: 12rem;
}

@media (min-width: 900px) and (max-width: 1500px) {
	.header .header-container h1 {
		font-size: 7.8rem;
		position: relative;
		left: 2%;
		top: -4rem;
	}
}

@media (min-width: 520px) and (max-width: 900px) {
	.header .header-container h1 {
		font-size: 4.5rem;
		position: relative;
		left: 2%;
		top: -4rem;
	}
}

@media (max-width: 520px) {
	.header .header-container h1 {
		font-size: 3rem;
		position: relative;
		left: 2%;
		top: -3rem;
	}
}

/*--------------------------HERO IMAGE--------------------------*/
.hero-image {
	width: 100%;
	margin-top: -300px;
}

.hero-image::after {
	content: "";
	display: table;
	clear: both;
}

.hero-image .hero-image-container {
	width: 40%;
	float: right;
}

.hero-image .hero-image-container img {
	width: 100%;
}

@media (max-width: 900px) {
	.hero-image {
		margin-top: -290px;
	}
	.hero-image .hero-image-container {
		width: 100%;
	}
}

@media (max-width: 520px) {
	.hero-image {
		margin-top: -245px;
	}
	.hero-image .hero-image-container {
		width: 100%;
	}
}

/*--------------------------FUNKY CONTENT--------------------------*/
.funky-content {
	padding-top: 2em;
}

.funky-content .funky-content-container p {
	font-family: 'akira';
	font-size: 40px;
	font-weight: 200;
	line-height: 50px;
}

@media (max-width: 900px) {
	.funky-content .funky-content-container p {
		font-size: 20px;
		line-height: 25px;
	}
}

/*--------------------------CONTACT--------------------------*/
.contact .contact-container {
	display: flex;
	justify-content: space-between;
}

.contact .contact-container a {
	text-decoration: none;
	font-family: 'akira';
	font-size: 36px;
}

@media (max-width: 400px) {
	.contact .contact-container {
		flex-direction: column;
		line-height: 30px;
	}
}

@media (max-width: 900px) {
	.contact .contact-container a {
		font-size: 20px;
	}
}