/*-------------------------- FONTS --------------------------*/
@font-face {
	font-family: 'bigillaregular';
    src: url('/fonts/bigilla_400-webfont.woff2') format('woff2'), url('/fonts/bigilla_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	
}

@font-face {
	font-family: 'bigillabold';
    src: url('/fonts/bigilla_bold_700-webfont.woff2') format('woff2'), url('/fonts/bigilla_bold_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
.mono {
	font-family: monospace;
	font-size: 16px;
}

@font-face {
    font-family: 'stretchPro';
    src: url('/fonts/StretchPro.otf') format('opentype');
}

@font-face {
    font-family: 'akira';
    src: url('/fonts/Akira.otf') format('opentype');
}

/*--------------------------HIDE SCROLLBAR, KEEP FUNCTIONALITY--------------------------*/
body::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/*--------------------------BASIC STYLING--------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

html, body {
	background: black;
	overflow-x: hidden;
	font-family: monospace;
}

.wrapper {
	max-width: 1500px;
	margin: 0 auto;
	height: 100%;
}

.wrapper .container {
	width: 95%;
	margin: 0px auto;
}

.divider {
	width: 100%;
	height: 1px;
	background: white;
}

.whitespace {
	width: 100%;
	height: 5em;
}

a {
	text-decoration: none;
}

/*--------------------------NAVBAR--------------------------*/
nav {
	font-size: 16px;
}

.nav-elem {
	position: relative;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; /*stays the same after animation*/
}

@media (max-width: 600px) {
	.center-nav > a {
        font-size: 0;
    }
    .center-nav > a::after {
        font-size: var(--small-font-size);
        content: attr(data-mobile);
    }
}

.nav-elem:hover {
	font-weight: 600;
}

.back-nav:hover {
	animation-name: left;
}

.forward-nav:hover {
	animation-name: right;
}

.center-nav:hover {
	animation-name: center;
}

@keyframes left {
	0% {left: 0rem;}
	100% { left: -1rem; }
}

@keyframes right {
	0% {left: 0rem;}
	100% { left: 1rem; }
}

@keyframes center {
	0% {top: 0rem;}
	100% { top: -0.1rem; }
}

.navbar .navbar-container {
	display: flex;
	padding: 0.5em 0;
	justify-content: space-between;
}

/*--------------------------SECTION HEADER--------------------------*/
.section-header .section-header-container {
	display: flex;
	padding: 12px 0;
	justify-content: space-between;
}

/*--------------------------CONTENT--------------------------*/
.content {
	font-size: 36px;
	font-family: 'JetBrains Mono', monospace;
	width: 100%;
}

.content::after {
	content: "";
	display: table;
	clear: both;
}

.content .content-container {
	width: 70%;
}

.content .content-container p {
	margin: 40px 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

@media (max-width: 900px) {
	.content, .content .content-container {
		width: 100%;
		font-size: 24px;
	}
}

/*--------------------------FOOTER--------------------------*/
footer {
	font-size: 16px;
	font-weight: 100;
	opacity: 50%;
	margin-top: 4rem;
	margin-bottom: 1rem;
	text-align: center;
}